/**
 * Assign variables to Smarty.
 *
 * (Variables also can be assigned anywhere else to $this->smarty, but this is the final step,
 * called by the display method before fetching the template.)
 */
protected function assignSmartyVariables() {
	parent::assignSmartyVariables();
	${1}
}
