
namespace ${1:Name\Space};

/**
 * ${2:undocumented class}
 * @author ${3:`g:snips_author`}
 */
class ${4:ClassName} {
${5}
	/**
	 * ${6:Create new}
	 */
	public function ${7:__construct}(${8}) {
		${9}
	}
}
